body{
    padding:  150px;
}
.submit-area{
    margin-top: 50px;
    box-shadow: 5px 5px 10px gray;
    padding: 20px;
    border-radius: 10px;
}
#transition-area{
    display: none;
}
.status{
    margin: 0px 20px;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.deposite{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}